{% import 'gallery_macros.jinja' as gallery_macros %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="og:title" content="{{ gallery_config['title']}}">
  <meta property="og:description" content="{{ gallery_config['description'] }}">
  <meta property="og:image" content="{{ gallery_config['url'] }}/images/photos/{{ background_photo }}">
  <meta property="og:url" content="{{ gallery_config['url'] }}">
  <meta property="og:site_name" content="{{ gallery_config['title']}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{ gallery_config['title']}}">

  <title>Λ∀ʌ†ʌʀ 🦄 ∆ʀ†s</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/photoswipe.css">
  <link rel="stylesheet" href="css/default-skin.css">
  <link rel="stylesheet" href="css/main.css">

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top" aria-label="Go to top">Top</button>
  <button onclick="jumpDown()" id="jumpBtn" title="Down" aria-label="Down">Jump Down</button>

  <!-- Navigation menu -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="https://avatararts.org">Λ∀ʌ†ʌʀ 🦄 ∆ʀ†s</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://avatararts.org/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://avatararts.org/leonardo/index.html">Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://avatararts.org/mids/index.html">Shorts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://avatararts.org/vidbox.html">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://avatararts.org/form.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- GALLERY DESCRIPTIONS -->
  {{ gallery_macros.section(0, images|length, gallery_config['title'], '', images) }}
  <!-- END GALLERY DESCRIPTIONS -->

  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-right">
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/photoswipe.min.js"></script>
  <script src="js/photoswipe-ui-default.min.js"></script>
  <script src="js/main.js"></script>

  <script>
    // Get the buttons
    let mybutton = document.getElementById("myBtn");
    let jumpButton = document.getElementById("jumpBtn");

    // When the user scrolls down 20px from the top of the document, show the "Go to top" button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
        jumpButton.style.display = "block"; // Also show the "Jump Down" button
      } else {
        mybutton.style.display = "none";
        jumpButton.style.display = "none";
      }
    }

    // When the user clicks on the "Go to top" button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    // Function to scroll down when "Jump Down" button is clicked
    function jumpDown() {
      window.scrollBy(0, window.innerHeight); // Scrolls down by the viewport height
    }

    // Disable right click and save as
    document.addEventListener("contextmenu", function(event) {
      event.preventDefault();
    });

    document.addEventListener("keydown", function(event) {
      // Disable F12 key
      if (event.keyCode === 123) {
        event.preventDefault();
      }

      // Disable Ctrl+Shift+I keys
      if (event.ctrlKey && event.shiftKey && event.keyCode === 73) {
        event.preventDefault();
      }

      // Disable Ctrl+Shift+C keys
      if (event.ctrlKey && event.shiftKey && event.keyCode === 67) {
        event.preventDefault();
      }

      // Disable Ctrl+Shift+J keys
      if (event.ctrlKey && event.shiftKey && event.keyCode === 74) {
        event.preventDefault();
      }

      // Disable Ctrl+U keys
      if (event.ctrlKey && event.keyCode === 85) {
        event.preventDefault();
      }
    });
  </script>
</body>

</html>
